<?xml version="1.0" encoding="UTF-8"?>
 
<suite name=" WebDriver Suite">

	<test name="Testing">
		<classes>
			<class name="com.qalabs.SeleniumTest.AppTest" />
		</classes>
	</test>

	<test name="SmokeTest">
		<classes>
			<class name="com.qalabs.SeleniumTest.SmokeTest" />
		</classes>
	</test>

</suite>